/* src/components/EmojiPickerComponent.css */

.emoji-picker {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.emoji-picker button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.emoji-picker .emoji-picker-react {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
}
