/* Header.css */
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  /* Example: subtle gradient */
  background: linear-gradient(135deg, #23a6d5, #23d5ab);
  color: white;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-header h2 {
  margin-left: 10px;
  font-size: 18px;
  flex-grow: 1;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.icon-button:hover {
  color: #f2f2f2;
}
